body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Custom styles for better responsiveness */
body {
  font-family: Arial, sans-serif;
  background: url("https://www.vidyavision.com/CollegeUploads/Photos/2019-03-4-18-17-32_Swarnandhra%20Engineering%20College.jpg")
    no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.container {
  max-width: 1200px;
  background: rgba(
    255,
    255,
    255,
    0.8
  ); /* Adding transparency to the background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 80px; /* Add margin-top to avoid content being hidden behind the navbar */
}

.list-group-item {
  cursor: pointer;
}

.list-group-item.active {
  background-color: #007bff;
  color: white;
}

button {
  margin: 5px;
}

@media (max-width: 768px) {
  .d-flex {
    flex-direction: column;
  }

  .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}
